
#main {
    font-size: 12px;
}

img {
    height: 40px;
    width: auto;
    margin: 5px;
    justify-self: start;
    margin: auto;
}

footer.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: #2f2f2f;
    background-color: #fff;
    background-color:rgba(4, 0, 44, 0.918);
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex:  1 100%;
}

.img {
    padding: 20px 0 0 0;
    text-align: center;
}

.nav-title {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.footer-nav .nav-item {
    padding: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.footer-nav .nav-item a {
    color: #999;
}

.nav-title {
    text-align: center;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: #edeff0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.legal p {
    font-size: 12px;
    padding: 0;
}

.legal-links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal-links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer-nav > * {
        flex: 1;
    }
    
    .img {
        flex: 1 0px;
    }
    
    .footer-nav {
        flex: 2 0px;
    }
}


.social-icons {
    padding: 1rem 0 1rem 0;
}

.icons {
    color: #fff;
    padding: 1.5rem;
}

@media all and (max-width: 1060px) {
    .social-icons {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
